<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <section class="container-grid">
        <h1><i class='bx bxl-javascript' style='color:#efd046'  ></i><i>Galeria de imagenes</i><i class='bx bxl-html5' style='color:#ff6a00'  ></i></h1>
        <p><strong><i>Aqui os mostramos una galeria de cuadros que tenemos en exposicion.</i></strong></p>
        <img src="img/cuadro1.jpg" alt="cuadros" class="img img-1">
        <img src="img/cuadro2.jpg" alt="cuadros" class="img img-2">
        <img src="img/cuadro3.jpg" alt="cuadros" class="img img-3">
        <img src="img/cuadro4.jpg" alt="cuadros" class="img img-4">
        <img src="img/cuadro5.jpg" alt="cuadros" class="img img-5">
        <img src="img/cuadro6.jpg" alt="cuadros" class="img img-6">
        <div class="container-img">
            <img src="#" alt="" class="img-show">
            <i class='bx bx-x'></i>
            <p class="copy"></p>
        </div>
    </section>

    <script src="index.js"></script>
</body>
</html>