<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
      <header>
        <div class="navbar">
        <nav>
            <a href="">Inicio</a>
            <a href="">Quienes somos</a>
            <a href="">Galeria</a>
            <a href="">Presupuesto</a>
            <a href="">Contacto</a>
            
        </nav>
        </div>
        <div class="title">
            <h1>Venta de Cuadros -CRB-</h1>
            <p>Decora tu hogar con el mejor gusto</p>
        </div>
      </header>

    <script src="index.js"></script>
</body>
</html>