<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.html">
</head>
<body>
    <section class="quiensomos">
        <div class="description">
            <h3><i> <i class='bx bx-horizontal-right' style='color:#f80606'  ></i>Quienes Somos</i><i class='bx bx-horizontal-left' style='color:#ff0501' ></i></h3>
            <p>Somos una empresa dedicada a la venta de cuadros de alta calidad, ofreciendo una amplia variedad de estilos, diseños y temáticas para satisfacer los gustos más exigentes.
            
            Nuestro catálogo incluye una gran variedad de cuadros, desde piezas clásicas y elegantes hasta obras modernas y vanguardistas, todas ellas realizadas por artistas talentosos y reconocidos en el mundo del arte.
            
            En nuestra tienda, encontrarás cuadros de paisajes, flores, animales, abstractos, entre otros temas, y podrás elegir entre diferentes tamaños y formatos para adaptarlos a tus necesidades y preferencias.
            
            Además, en nuestra empresa ofrecemos un servicio de asesoramiento personalizado para ayudarte a encontrar el cuadro perfecto para tu hogar u oficina. Nuestro equipo de expertos en arte estará encantado de orientarte y aconsejarte sobre los estilos y colores que mejor se adapten a tus gustos y al espacio donde quieras colgar tu obra de arte.
            
            También contamos con un servicio de personalización de cuadros, para que puedas tener una pieza única y exclusiva. Podemos imprimir tus fotos o imágenes favoritas en formato de cuadro, o bien, podemos modificar los colores o el tamaño de una obra para que se adapte mejor a tus necesidades.</p>
        </div>
        <div class="tienda">
            <img src="img/ford.jpg" alt="">
        </div>
      </section>

</body>
</html>